{:paths ["src" "resources"]
 :mvn/repos
 {"spacemaven" {:url "https://packages.jetbrains.team/maven/p/skija/maven"}}

 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        cljfx/cljfx {:mvn/version "1.7.14"}
        org.jetbrains.skija/skija-linux {:mvn/version "0.92.12"}}
 :aliases
 {:run-m {:main-opts ["-m" "mattsum.skija-test"]}}}
